[Desktop Entry]
Categories=System;
Exec=colord-kde-icc-importer %F
Terminal=false
Type=Application
Icon=application-vnd.iccprofile
StartupNotify=true
NoDisplay=true
MimeType=application/vnd.iccprofile;

Name=ICC Profile Installer
Name[pt]=Instalador de Perfis ICC
Name[sv]=ICC-profilinstallation
Name[uk]=Програма для встановлення профілів ICC
Name[x-test]=xxICC Profile Installerxx
Comment=Install ICC profiles
Comment[pt]=Instalar perfis do ICC
Comment[sv]=Installera ICC-profiler
Comment[uk]=Встановлення профілів ICC
Comment[x-test]=xxInstall ICC profilesxx
