[Desktop Entry]
Categories=System;
Exec=colord-kde-icc-importer %F
Terminal=false
Type=Application
Icon=application-vnd.iccprofile
StartupNotify=true
NoDisplay=true
MimeType=application/vnd.iccprofile;

Name=ICC Profile Installer
Name[ca]=Instal·lador del perfil ICC
Name[cs]=Instalátor profilu ICC
Name[da]=Installationsprogram til ICC-profiler
Name[de]=Installationsprogramm für ICC-Profile
Name[el]=Εγκαταστάτης προφίλ ICC
Name[es]=Instalador de perfil ICC
Name[fi]=ICC-profiilin asennusohjelma
Name[fr]=Profil ICC installé
Name[hu]=ICC profil telepítő
Name[it]=Installatore profilo ICC
Name[nl]=Installatieprogramma van ICC-profiel
Name[pl]=Instalator profili ICC
Name[pt]=Instalador de Perfis ICC
Name[pt_BR]=Instalador de perfis ICC
Name[ro]=Instalator de profiluri ICC
Name[ru]=Установщик ICC-профилей
Name[sk]=Inštalátor ICC profilov
Name[sv]=ICC-profilinstallation
Name[tr]=ICC Profil Yükleyici
Name[ug]=ICC Profile ئورناتقۇچ
Name[uk]=Програма для встановлення профілів ICC
Name[x-test]=xxICC Profile Installerxx
Comment=Install ICC profiles
Comment[ca]=Instal·la perfils ICC
Comment[cs]=Nainstalovat profily ICC
Comment[da]=Installér ICC-profiler
Comment[de]=ICC-Profile installieren
Comment[el]=Εγκατάσταση προφίλ ICC
Comment[es]=Instalar perfiles ICC
Comment[fi]=Asenna ICC-profiileja
Comment[fr]=Installer des profils ICC
Comment[hu]=ICC profilok telepítése
Comment[it]=Installa i profili ICC
Comment[nl]=ICC-profielen installeren
Comment[pl]=Instaluj profile ICC
Comment[pt]=Instalar perfis do ICC
Comment[pt_BR]=Instala perfis ICC
Comment[ro]=Instalează profiluri ICC
Comment[ru]=Установка ICC-профилей
Comment[sk]=Nainštalovať ICC profily
Comment[sv]=Installera ICC-profiler
Comment[tr]=ICC profili yükleyin
Comment[ug]=ICC Profile نى ئورنىتىش پروگراممىسى
Comment[uk]=Встановлення профілів ICC
Comment[x-test]=xxInstall ICC profilesxx
