[Desktop Entry]
Name=colord Engine
Name[bs]=colord pogon
Name[ca]=Motor colord
Name[ca@valencia]=Motor colord
Name[cs]=Systém colord
Name[da]=colord-motor
Name[de]=Colord-Modul
Name[el]=μηχανή colord
Name[es]=Motor para colord
Name[et]=colord mootor
Name[fi]=colord-moottori
Name[fr]=Moteur colord
Name[gl]=Motor colord
Name[hu]=colord motor
Name[it]=Motore colord
Name[km]=ម៉ាស៊ីណ colord
Name[ko]=colord 엔진
Name[lt]=colord variklis
Name[mr]=कलरडी इंजिन
Name[nl]=colord-engine
Name[pl]=Silnik colord
Name[pt]=Motor do colord
Name[pt_BR]=Motor colord
Name[ro]=Motor colord
Name[ru]=Механизм colord
Name[sk]=Engine colord
Name[sl]=Pogon colord
Name[sv]=Gränssnittet colord
Name[tr]=colord Motoru
Name[uk]=Рушій colord
Name[x-test]=xxcolord Enginexx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_colord
X-Plasma-EngineName=colord
X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.freedesktop.colord
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
