[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=colord
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=Color Daemon
Name[ca]=Dimoni de color
Name[ca@valencia]=Dimoni de color
Name[cs]=Démon barev
Name[da]=Farvedæmon
Name[de]=Farben-Dienst
Name[el]=Δαίμονας χρώματος
Name[es]=Demonio de color
Name[et]=Värvideemon
Name[fi]=Väripalvelu
Name[fr]=Démon de couleur
Name[gl]=Daemon de cores
Name[hu]=Szín démon
Name[it]=Demone dei colori
Name[km]=ដេមិន​ពណ៌
Name[ko]=색 데몬
Name[lt]=Spalvų tarnyba
Name[mr]=रंग डीमन
Name[nds]=Klöör-Dämoon
Name[nl]=Kleur-daemon
Name[pl]=Demon koloru
Name[pt]=Serviço de Cores
Name[pt_BR]=Serviço de cores
Name[ro]=Demon de culoare
Name[ru]=Демон управления цветом
Name[sk]=Démon farby
Name[sl]=Ozadnji program za barve
Name[sv]=Färgdemon
Name[tr]=Renk Yardımcısı
Name[uk]=Фонова служба керування кольорами
Name[x-test]=xxColor Daemonxx
Comment=Manage Screen Color Profiles
Comment[ca]=Gestiona els perfils de color de la pantalla
Comment[ca@valencia]=Gestiona els perfils de color de la pantalla
Comment[cs]=Spravovat profily barev obrazovky
Comment[da]=Håndtér profiler til skærmfarver
Comment[de]=Verwaltung von Bildschirm-Farbprofilen
Comment[el]=Διαχείριση προφίλ χρωμάτων οθόνης
Comment[es]=Gestionar perfiles de color de la pantalla
Comment[et]=Ekraani värviprofiilide haldur
Comment[fi]=Näyttöjen väriprofiilien asetukset
Comment[fr]=Gère les profils colorimétriques de l'écran
Comment[hu]=Kijelző színprofilok kezelése
Comment[it]=Amministra i profili dei colori dello schermo
Comment[km]=គ្រប់គ្រង​ទម្រង់​ពណ៌​អេក្រង់
Comment[ko]=화면 색 프로필 관리
Comment[lt]=Tvarkyti ekrano spalvų profilius
Comment[mr]=स्क्रीन रंग रूपरेषांचे व्यवस्थापन करा
Comment[nl]=Kleurprofielen van een scherm beheren
Comment[pl]=Zarządzaj profilami koloru ekranu
Comment[pt]=Gerir os Perfis de Cores do Ecrã
Comment[pt_BR]=Gerenciar os perfis de cores da tela
Comment[ro]=Gestionează profilurile de culoare ale ecranelor
Comment[ru]=Управление цветовыми профилями монитора
Comment[sk]=Spravovať profily farieb obrazovky
Comment[sl]=Upravljajte s profili barv zaslona
Comment[sv]=Hantera skärmfärgprofiler
Comment[tr]=Ekran Renk Profillerini Yönet
Comment[uk]=Керування профілями кольорів екрана
Comment[x-test]=xxManage Screen Color Profilesxx
