[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=colord
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=1

Name=Color Daemon
Name[cs]=Démon barev
Name[es]=Demonio de color
Name[nds]=Klöör-Dämoon
Name[nl]=Kleur-daemon
Name[pl]=Demon koloru
Name[pt]=Serviço de Cores
Name[pt_BR]=Serviço de cores
Name[sk]=Démon farby
Name[sv]=Färgdemon
Name[uk]=Фонова служба керування кольорами
Name[x-test]=xxColor Daemonxx
Comment=Manage Screen Color Profiles
Comment[cs]=Spravovat profily barev obrazovky
Comment[es]=Gestionar perfiles de color de la pantalla
Comment[nl]=Kleurprofielen van een scherm beheren
Comment[pl]=Zarządzaj profilami koloru ekranu
Comment[pt]=Gerir os Perfis de Cores do Ecrã
Comment[pt_BR]=Gerenciar os perfis de cores da tela
Comment[sk]=Spravovať profily farieb obrazovky
Comment[sv]=Hantera skärmfärgprofiler
Comment[uk]=Керування профілями кольорів екрана
Comment[x-test]=xxManage Screen Color Profilesxx
