[Desktop Entry]
Type=Service
Icon=preferences-desktop-color

X-KDE-Library=kcm_colord
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-System-Settings-Parent-Category-V2=hardware
X-KDE-ParentApp=kcontrol
X-KDE-Kded-phase=1

Name=Color
Name[bs]=boja
Name[ca]=Color
Name[cs]=Barva
Name[da]=Farve
Name[de]=Farbe
Name[el]=Χρώμα
Name[es]=Color
Name[et]=Värv
Name[fi]=Väri
Name[fr]=Couleur
Name[ga]=Dath
Name[hu]=Szín
Name[it]=Colore
Name[km]=ពណ៌
Name[ko]=색
Name[lt]=Spalvos
Name[mr]=रंग
Name[nds]=Klöör
Name[nl]=Kleur
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ro]=Culoare
Name[ru]=Цветопередача
Name[sk]=Farba
Name[sl]=Barva
Name[sv]=Färg
Name[tr]=Renk
Name[ug]=رەڭ
Name[uk]=Колір
Name[x-test]=xxColorxx

Comment=Manage color correction of devices
Comment[ca]=Gestiona la correcció del color dels dispositius
Comment[cs]=Správa korekce barev zařízení
Comment[da]=Håndtér farvekorrektur for enheder
Comment[de]=Verwaltung der Farbkorrektur von Geräten
Comment[el]=Διαχείριση διόρθωσης χρώματος για συσκευές
Comment[es]=Gestionar corrección de color de los dispositivos
Comment[et]=Värvikorrektsiooniseadmete haldur
Comment[fi]=Laitteiden värinkorjauksen asetukset
Comment[fr]=Gère la correction des couleurs des périphériques
Comment[hu]=Az eszközök színkorrekciójának kezelése
Comment[it]=Amministra la correzione del colore dei dispositivi
Comment[km]=គ្រប់គ្រង​ឧបករណ៍​កែ​ពណ៌
Comment[ko]=장치 색 보정 관리
Comment[lt]=Tvarkyti įrenginių spalvų korekcijas
Comment[mr]=साधनांच्या रंग सुधारणेचे व्यवस्थापन करा
Comment[nl]=Kleurcorrectie beheren van apparaten
Comment[pl]=Zarządzaj korekcją koloru urządzeń
Comment[pt]=Gerir a correcção de cores dos dispositivos
Comment[pt_BR]=Gerenciar a correção de cores dos dispositivos
Comment[ro]=Gestionează corecția de culoare a dispozitivelor
Comment[ru]=Управление цветопередачей устройств
Comment[sk]=Spravovať farebnú korekciu zariadení
Comment[sl]=Upravljajte popravke barv za naprave
Comment[sv]=Hantera färgkorrektion för enheter
Comment[tr]=Aygıtların renk düzeltmesini yönetin
Comment[uk]=Керування виправленням кольорів на пристроях
Comment[x-test]=xxManage color correction of devicesxx
