[Desktop Entry]
Type=Service
Icon=preferences-desktop-color

X-KDE-Library=kcm_colord
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-System-Settings-Parent-Category-V2=hardware
X-KDE-ParentApp=kcontrol

Name=Color
Name[cs]=Barva
Name[da]=Farve
Name[de]=Farbe
Name[es]=Color
Name[et]=Värv
Name[fr]=Couleur
Name[ga]=Dath
Name[nds]=Klöör
Name[nl]=Kleur
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[sk]=Farba
Name[sv]=Färg
Name[uk]=Колір
Name[x-test]=xxColorxx

Comment=Manage color correction of devices
Comment[cs]=Správa korekce barev zařízení
Comment[da]=Håndtér farvekorrektur for enheder
Comment[es]=Gestionar corrección de color de los dispositivos
Comment[et]=Värvikorrektsiooniseadmete haldur
Comment[fr]=Gère la correction des couleurs des périphériques
Comment[nl]=Kleurcorrectie beheren van apparaten
Comment[pl]=Zarządzaj korekcją koloru urządzeń
Comment[pt]=Gerir a correcção de cores dos dispositivos
Comment[pt_BR]=Gerenciar a correção de cores dos dispositivos
Comment[sk]=Spravovať farebnú korekciu zariadení
Comment[sv]=Hantera färgkorrektion för enheter
Comment[uk]=Керування виправленням кольорів на пристроях
Comment[x-test]=xxManage color correction of devicesxx
