[Desktop Entry]
Type=Service
Icon=preferences-desktop-color

X-KDE-Library=kcm_colord
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-System-Settings-Parent-Category-V2=hardware

Name=Color

Comment=Manage color correction of devices
